.settings {
    background: #fff;
    
    ion-label {
        color:#000;
    }
    
    .item-inner {
        border: 2px solid #eee !important;
        padding-left: 10px;    
        margin-top: 20px;
    }
}