// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.ios";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app
.large {
    .checkbox-icon {        
        .checkbox-inner {
            height:16px;
            width:8x;
            border-width:4px;
            left:8px;
        } 
    }
}

.bar-button {
    font-size: 20px;
    margin-left: 10px;
}
.navbar-add-icon {
    font-size: 25px;
    padding-top: 17px;
    font-weight: bold;
}

.page2 .favourite-card .fav-icon{
    top:calc(100% - 98px);
}
